<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accesing</title>
    <link rel="stylesheet" href="/static/bara/css_access_bara/main.css" />
</head>

<body>
    <h1>I will make your social life easier !</h1>

    <canvas id="canvas"></canvas>
    <div>
        <a href="/baraspage">
            <!--href="/templates/baraspage.html">-->
            <button class="button">Visit me</button>
        </a>
    </div>
    <!--Tohle je pro three.js (cdn)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
    <!--Object loader-->
    <script src="/static/js/acces_to_bara/objLoader.js"></script>
    <!--Material loader-->
    <script src="/static/js/acces_to_bara/mtlLoader.js"></script>
    <!--Main js-->
    <script src="/static/js/acces_to_bara/vectaryjavascript.js"></script>
    <!-- TweenMax což je G SAP (green sock animation platform) mocná knihovna založená na javascriptu pro webové projekty-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</body>

</html>